.blogcard {
  @include flex(center, none, left);
  margin: 0 $r-20;
  width: 400px;
  height: 600px;
  flex-direction: column;
  color: $white;

  img {
    width: 100%;
    height: 400px;
  }

  .details {
    width: 100%;
    margin: $r-1 0;
    font-size: $r-4;
    @include flex(space-between);
    color: $gray;

    .comment {
      display: flex;
      i {
        color: $white;
        margin-right: $r-05;
      }
    }
  }

  h2 {
    font-size: $r-6;
  }

  p {
    color: $gray;
    margin-top: $r-1;
    font-size: $r-4;
  }
}
