.blogcard {
  margin: 0 2rem;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: $white;

  img {
    width: 100%;
    height: 400px;
}

  .details {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    color: $gray;

    .comment {
      display: flex;
      i {
        color: $white;
        margin-right: 0.5rem;
      }
    }
  }

  h2 {
    font-size: 1.6rem;
  }

  p {
    color: $gray;
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
