.table {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;

  .information {
    width: 65%;
    padding: 2rem 1rem 2rem 12rem;
    background-color: $dark;
    color: $white;
    @include flex(space-around);

    &-item {
      width: 25%;
      @include flex(space-evenly);
      padding: $r-1;
      i {
        margin-right: $r-1;
        color: $yellow;
        font-size: $r-6;
      }

      h2 {
        font-size: $r-2;
      }

      p {
        margin-top: $r-1;
        color: $gray;
        line-height: 1.5;
        font-weight: 500;
      }
    }
  }

  form {
    width: 35%;
    height: 30vh;
    @include absolute('', 0, 0);
    padding: $r-4;
    background-color: $yellow;
    h1 {
      color: $white;
      font-size: $r-2;
      text-transform: uppercase;
    }
    input {
      background-color: transparent;
      border-bottom: 1px solid $gray;
      padding: $r-1 0;
      color: $white;
    }

    div {
      margin: $r-1 0;
      @include flex(space-between);
    }

    .input1 {
      input {
        width: 45%;
      }
    }

    .input2 {
      input {
        width: 30%;
      }
    }

    .input3 {
      textarea {
        width: 48%;
        background-color: transparent;
        padding: $r-05;
        color: $white;
        border-bottom: 1px solid $gray;
      }
      button {
        width: 48%;
        border: none;
        background-color: $white;
        color: $yellow;
        box-shadow: 2px 2px 2px $gray;
        cursor: pointer;

        &:active {
          box-shadow: none;
          transform: translate(2px, 2px);
        }
      }
    }
  }
}
