.contact-items {
  width: 100%;
  padding: 8rem 10rem;
  @include flex(space-between);
  color: $white;
  &-left {
    width: 30%;
    padding: $r-20;

    h1 {
      font-size: $r-24;
    }
    p {
      margin: 4rem 0;
      font-size:$r-4;
      span {
        color: $yellow;
        margin-right: $r-1;
      }
    }
  }

  &-right {
    width: 60%;
    padding: 2rem 10rem;

    input {
      width: 100%;
      margin: $r-1 $r-05;
      padding: $r-1 0;
      background-color: transparent;
      border-bottom: 1px solid $gray;
      color: $yellow;
      font-size: $r-4;
    }
    .input1 {
      width: 100%;
      @include flex(space-between);
    }

    textarea {
      width: 100%;
      height: 200px;
      margin: $r-1 $r-05;
      padding: $r-1 0;
      background-color: transparent;
      border-bottom: 1px solid $gray;
      resize: none;
      color: $yellow;
      font-size: $r-4;
    }

    button {
      padding: $r-1 $r-20;
      background-color: $yellow;
      font-weight: 700;
      border: 1px solid transparent;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: transparent;
        color: $yellow;
        border: 1px solid $yellow;
      }
    }
  }
}

.googlemap {
  width: 100%;
  height: 60vh;
}
