.main-header {
  font-family: $font1;
  color: $yellow;
  font-size: 5rem;
  font-weight: 300;
}

.main-title {
  font-size: 4rem;
  margin-top: -2.4rem;
  color: $white;
}

.main-paragraph {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 900;
  margin-top: 1rem;
  color: $gray;
}
