.main-header {
  font-family: $font1;
  color: $yellow;
  font-size: $r-50;
  font-weight: 300;
}

.main-title {
  font-size: $r-40;
  margin-top: -$r-24;
  color: $white;
}

.main-paragraph {
  font-size: $r-4;
  line-height: 1.2;
  font-weight: 900;
  margin-top: $r-1;
  color: $gray;
}
