.menu-items {
  width: 100%;
  padding: $r-20;
  text-align: center;
  .food {
    width: 100%;
    @include flex(center);
    flex-wrap: wrap;

    &-item {
      padding: $r-20;
      h1 {
        color: $white;
        font-size: $r-30;
        text-align: left;
      }
    }
  }
}
