.menu-items {
  width: 100%;
  padding: 2rem;
  text-align: center;
  .food {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      padding: 2rem;
      h1 {
        color: $white;
        font-size: 3rem;
        text-align: left;
      }
    }
  }
}
