.our-menu {
  width: 100%;
  height: 80vh;
  display: flex;
  padding: $r-20;

  img {
    width: 300px;
    margin: 10px 0;
  }

  &-left {
    width: 50%;
    @include flex(center, flex-end,right);
    flex-direction: column;
    padding: $r-50 $r-50 $r-50 20rem;
    color: wheat;

    button {
      margin-top: $r-1;
      padding: $r-1;
      background-color: transparent;
      border: 1px solid $yellow;
      color: $yellow;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }

  &-right {
    width: 50%;
    padding: $r-20 $r-50;
    display: flex;
    &-first2 {
      width: 50%;
    }
    &-last2 {
      width: 50%;
      padding-top: $r-20;
    }
  }
}
