.ourproducts {
  text-align: center;
  width: 100%;

  .link-container {
    margin-top: 3rem;
    .link {
      padding: 1rem;
      color: $yellow;
      margin: 1rem;
      font-size: 2.4rem;
      font-weight: 700;
      border-bottom: 2px solid $yellow;
      transition: 0.3s;

      &.active,
      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
  }

  &-items {
    margin: auto;
    width: 80%;
    @include flex("", flex-start);
    flex-wrap: wrap;
    padding: 3rem;
  }
}
