.ourproducts {
  text-align: center;
  width: 100%;

  .link-container {
    margin-top: $r-30;
    .link {
      padding: $r-1;
      color: $yellow;
      margin: $r-1;
      font-size: $r-24;
      font-weight: 700;
      border-bottom: 2px solid $yellow;
      transition: 0.3s;

      &.active,
      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
  }

  &-items {
    margin: auto;
    width: 80%;
    @include flex("", flex-start);
    flex-wrap: wrap;
    padding: $r-30;
  }
}
